.tim-typo
    padding-left: 25%
    margin-bottom: 40px
    position: relative
    width: 100%

    .tim-note
        bottom: 5px
        color: #c0c1c2
        display: block
        font-weight: 400
        font-size: 13px
        line-height: 15px
        left: 0
        margin-left: 20px
        position: absolute
        width: 260px

/* offline-doc

.offline-doc
    .navbar.navbar-transparent
        padding-top: 25px
        border-bottom: none

        .navbar-minimize
            display: none

        .navbar-brand, .collapse .navbar-nav .nav-link
            color: #FFFFFF !important

    .footer
        z-index: 3 !important

    .page-header
        .container
            z-index: 3

        &:after
            background-color: rgba(0, 0, 0, 0.5)
            content: ""
            display: block
            height: 100%
            left: 0
            position: absolute
            top: 0
            width: 100%
            z-index: 2

#map
    z-index: 2
    height: calc(100vh - 70px)
    margin-top: 70px
