
@font-face
    font-family: 'title-gotic'
    src: url('#{$fonts-root}/Breathe-Fire-II.otf') format('opentype')

@font-face
    font-family: 'drakon'
    src: url('#{$fonts-root}/drakon.ttf') format('truetype')
    src: url('#{$fonts-root}/drakon.otf') format('opentype')

@font-face
    font-family: 'abaddon'
    src: url('#{$fonts-root}/Abaddon.ttf') format('truetype'),
    src: url('#{$fonts-root}/Abaddon.otf') format('opentype'),
    src: url('#{$fonts-root}/Abaddon.woff') format('woff')

@font-face
    font-family: 'beast-of-rage'
    src: url('#{$fonts-root}/Beast-of-Rage.otf') format('opentype')

