*
    border: 0
    margin: 0
    padding: 0

/* =Basic HTML, Non-essential
 *----------------------------------------------------------------------

.gallery
    h1
        background: inherit
        border-bottom: 1px dashed #ccc
        color: #933
        margin: 0 0 10px
        padding: 0 0 5px
        text-align: center

    p
        clear: both
        padding: 10px 0
        text-align: center

        a
            background: inherit
            color: #777

            &:hover
                background: inherit
                color: #000

    /* =Hoverbox Code
     *----------------------------------------------------------------------

    .hoverbox
        cursor: default
        list-style: none

        a
            cursor: default

            .preview
                display: none

            &:hover .preview
                display: block
                position: absolute
                top: -33px
                left: -45px
                z-index: 1

        img
            background: #0a0a0a
            border-color: #1a1a1a #2a2929 #454444 #616161
            border-style: solid
            border-width: 1px
            color: inherit
            padding: 2px
            vertical-align: top
            width: 200px
            height: 175px

        li
            background: #0a0a0a
            border-color: #1a1a1a #2a2929 #454444 #616161
            border-style: solid
            border-width: 1px
            color: inherit
            display: inline
            float: left
            margin: 3px
            padding: 5px
            position: relative

        .preview
            border-color: #000
            width: 300px
            height: 250px
