/*
*
    margin: 0
    padding: 0

body
    background: url("../images/diablo3.png") fixed 50%
    background-size: 200% 200%

.active
    color: $red !important

.btn-link-s
    font-size:  25px !important

/* header
/* navigation


.content
    color: white


    .display-1
        -webkit-text-stroke: 2px $red !important
        font-family: 'abaddon'

/* secondary menu

.secondary-menu
    position: fixed
    z-index: 99999
    width: 100%
    background: rgba(black, 0.9)

    .sm-left
        float: left
        text-align: left

        a
            color: white

    .sm-right
        float: right
        text-align: right

    .sm-left, .sm-right
        line-height: 40px
        color: #fff

    .sm-social-link
        a
            display: inline-block
            width: 40px
            height: 40px
            line-height: 40px
            font-size: 14px
            color: white
            text-align: center
            background: rgba(black, 0.3)
.navbar
    background: rgba(black, 0.25)

.navbar-nav
    li
        a
            font-family: 'abaddon'
            -webkit-text-stroke: 0.5px $red
            padding: 25px 20px
            font-size: 25px
            font-weight: 700
            color: white

.navbar-brand
    img
        width: 100%
        max-width: 130px

/* banner

/* banner slider

.banner
    position: absolute
    .carousel
        .item
            -webkit-animation-duration: 3s
            -webkit-animation-delay: 0.5s
            -moz-animation-duration: 3s
            -moz-animation-delay: 0.5s
            -ms-animation-duration: 3s
            -ms-animation-delay: 0.5s
            -o-animation-duration: 3s
            -o-animation-delay: 0.5s
            animation-duration: 3s
            animation-delay: 0.5s

        .carousel-caption
            h2, h3
                -webkit-animation-duration: 2s
                -webkit-animation-delay: 1s
                -moz-animation-duration: 2s
                -moz-animation-delay: 1s
                -ms-animation-duration: 2s
                -ms-animation-delay: 1s
                -o-animation-duration: 2s
                -o-animation-delay: 1s
                animation-duration: 2s
                animation-delay: 1s

            h2
                i
                    font-size: 64px
                    display: inline-block
                    margin-right: 12px

            p
                -webkit-animation-duration: 2s
                -webkit-animation-delay: 1s
                -moz-animation-duration: 2s
                -moz-animation-delay: 1s
                -ms-animation-duration: 2s
                -ms-animation-delay: 1s
                -o-animation-duration: 2s
                -o-animation-delay: 1s
                animation-duration: 2s
                animation-delay: 1s

            .btn
                -webkit-animation-duration: 2s
                -webkit-animation-delay: 2.5s
                -moz-animation-duration: 2s
                -moz-animation-delay: 2.5s
                -ms-animation-duration: 2s
                -ms-animation-delay: 2.5s
                -o-animation-duration: 2s
                -o-animation-delay: 2.5s
                animation-duration: 2s
                animation-delay: 2.5s

        .carousel-control
            position: absolute
            top: 50%
            margin-top: -25px
            display: inline-block
            font-size: 18px
            text-align: center
            background: none
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important
            border: 0
            opacity: 1
            text-shadow: none

            span
                width: 50px
                height: 50px
                line-height: 52px
                font-size: 22px

    .slide-one, .slide-two
        bottom: inherit
        top: 250px
        text-align: left

    .slide-one, .slide-two
        h2
            margin-bottom: 15px
            font-size: 52px
            line-height: 42px
            font-weight: 300
            color: #fff

    .slide-one, .slide-two
        h3
            font-size: 24px
            line-height: 32px
            font-weight: 400

    .slide-one .btn, .slide-two .btn
        display: inline-block
        margin-top: 15px
        padding: 12px 32px
        font-size: 16px

.form-control
    display: block
    width: 100%
    padding: 0.4375rem 0.4375rem
    font-size: 1rem
    line-height: 1.5
    color: white !important
    background-color: rgba(black, 0)
    background-clip: padding-box
    border-bottom-color: $red
    border-left-color: transparent
    border-top-color: transparent
    border-right-color: transparent
    border-radius: 2px
    box-shadow: none
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out

    &::-ms-expand
        background-color: transparent
        border: 0

    &:focus
        color: $purple
        background-color: rgba(black, 0)
        border-bottom-color: aquamarine
        border-left-color: transparent
        border-top-color: transparent
        border-right-color: transparent
        //border-color: #9acffa
        outline: 0
        //box-shadow: 0 0 0 0.2rem, rgba(gray, 0.25)

    &::placeholder
        color: #6c757d
        opacity: 1

    &:disabled, &[readonly]
        background-color: #e9ecef
        opacity: 1

select.form-control
    &:not([size]):not([multiple])
        height: calc(2.4375rem + 2px)

    &:focus::-ms-value
        color: #495057
        background-color: rgba(0, 0, 0, 0)

.form-control-file, .form-control-range
    display: block
    width: 100%


/* footer

footer
    font-family: 'abaddon'
    padding-top: 50px
    padding-bottom: 30px
    background: #252c37
    text-align: center

    .social
        a
            display: inline-block
            width: 60px
            height: 60px
            line-height: 60px
            margin: 0 7px
            margin-bottom: 30px
            color: #fff
            font-size: 32px
            border: 1px solid transparent
            border-radius: 80px
            -webkit-transition: all 0.25s linear
            -moz-transition: all 0.25s linear
            -ms-transition: all 0.25s linear
            -o-transition: all 0.25s linear
            transition: all 0.25s linear
    p
        -webkit-text-stroke: 0.5px $red
    ul
        li
            a
                -webkit-text-stroke: 0.5px #ffffff

/* Back to top

.bg-content
    background: rgba(black, 0.5)

/* Announcers

.team
    padding-bottom: 120px

.team-member
    text-align: center
    max-width: 400px
    margin: 0 auto
    margin-top: 30px

    .member-img
        img
            width: 100%
            max-width: 450px
            margin: 0 auto

        position: relative
        overflow: hidden

        .social
            background-color: $red
            position: absolute
            top: 50%
            left: 0
            margin-top: -20px
            z-index: 10
            width: 100%
            opacity: 0
            @include hover-social
            a
                i
                    width: 45px
                    height: 45px
                    font-size: 16px
                    color: #fff
                    line-height: 45px

                &:hover
                    padding: 5% 0
                    background-color: rgba(black, 0.5)

    &:hover .member-img .social
        opacity: 1
        @include hover-social

.team-member
    h3
        margin-top: 30px
        font-size: 22px

    .designation
        display: block
        font-size: 14px
